{% extends 'base.html' %}
<!-- Blog Single Post Section -->
{% block portfolio %}
<section id="blog-single-post">
     <div class="container">
          <div class="row">
               <div class="col-md-offset-1 col-md-10 col-sm-12">
                    <div class="blog-single-post-thumb">
                         <div class="blog-post-image">
                              <img src="{{post.blog_image}}" class="img-responsive" alt="Blog Image">
                         </div>

                         <div class="blog-post-title">
                              <h2>{{post.title}}</a></h2>
                         </div>
                         {% if post %}
                         <div class="blog-post-format">
                              <span><a href="#"><img src="http://oz6fn6yv5.bkt.clouddn.com/Rabbit_Icon.jpg-user_icon" class="img-responsive img-circle">{{post.user.name}}</a></span>
                              <span><i class="fa fa-date"></i>{{post.time}}</span>
                         </div>
                         {% endif %}
                         <div class="blog-post-des">
                              <p>{{post.body|safe}}</p>
                         </div>
                    </div>
          </div>
     </div>
</section>
{% endblock %}