{% extends 'base.html' %}
<!-- Blog Single Post Section -->
{% block ck %}
{{ ckeditor.load() }}
{% endblock %}
{% block portfolio %}
<section id="blog-single-post">
     <div class="container">
          <div class="row">
               <div class="col-md-offset-1 col-md-10 col-sm-12">
                    <div class="blog-single-post-thumb">
                         <div class="blog-post-image">
                              <img src="{{post.blog_image}}" class="img-responsive" alt="Blog Image">
                         </div>

                         <div class="blog-post-title">
                              <h2>{{post.title}}</a></h2>
                         </div>
                         {% if post %}
                         <div class="blog-post-format">
                              <span><a href="#"><img src="{{post.user.icon}}" class="img-responsive img-circle">{{post.user.name}}</a></span>
                              <span><i class="fa fa-date"></i>{{post.time}}</span>
                         </div>
                         {% endif %}

                         <div class="blog-post-des">
                              <p>{{post.body|safe}}</p>
                         </div>

                         <div class="blog-comment">
                              <h3>{{post.comments|count}}评论</h3>
                                   {% for comment in post.comments %}
                                   <div class="media">
                                        <div class="media-object pull-left">
                                             <img src="images/comment-image1.jpg" class="img-responsive img-circle" alt="Blog Image">
                                        </div>
                                        <div class="media-body">
                                             <h3 class="media-heading">{{comment.name}}</h3>
                                             <span>{{comment.email}}</span>
                                             <p>{{comment.comment|safe}}</p>
                                        </div>
                                   </div>
                                   {% endfor %}
                         </div>

                         <div class="blog-comment-form">
                              <h3>评论</h3>
                                   {% from "formhelper.html" import render_field %}
                                   <form action="/blog/post/{{post.id}}" method="post">
                                        {{ form.csrf_token }}
                                        {{render_field(form.name)}}
                                        {{render_field(form.email)}}
                                        {{ form.comment }}
                                        {% if form.comment.errors %}
                                             {% for error in form.comment.errors %}
                                                  {{ error }}<br>
                                             {% endfor %}
                                        {% endif %}
                                        <div class="col-md-3 col-sm-4">
                                             <input type="submit" class="form-control" value="Post Your Comment">
                                        </div>
                                   </form>
                         </div>
                    </div>
          </div>
     </div>
</section>
{% endblock %}

